{% extends 'base.html' %} {% block 'main' %}
<html>
  <head>
    <title>Contact US</title>
  </head>
  <body>
    <div class="container">
      <!---menu start-->
      <div class="row">
        <div class="col-md-4 mt-2 shadow">
          <h3>What issue are you facing?</h3>
          <div class="contact">
            <a href="#" class="anchor">I want to track my order</a><br />
            <a href="#" class="anchor">I want to manage my order</a><br />
            <a href="#" class="anchor">I want help with returns & refunds</a
            ><br />
            <a href="#" class="anchor">I want help with other issues</a><br />
            <a href="#" class="anchor">I want to contact the seller</a><br />
          </div>
          <br /><br /><br /><br />
          <a href="#">contact@estore.com/ 9191919191</a>
        </div>

        <div class="col-md-8 mt-2 shadow">
          <h2>Estore Help Center | 24x7 Customer Care Support</h2>
          <p>
            The Estore Help Centre page lists out various types of issues that
            you may have encountered so that there can be quick resolution and
            you can go back to shopping online. For example, you can get more
            information regarding order tracking, delivery date changes, help
            with returns (and refunds), and much more. The Estore Help Centre
            also lists out more information that you may need regarding Estore
            Plus, payment, shopping, and more. The page has various filters
            listed out on the left-hand side so that you can get your queries
            solved quickly, efficiently, and without a hassle. You can get the
            Estore Help Centre number or even access Estore Help Centre support
            if you need professional help regarding various topics. The support
            executive will ensure speedy assistance so that your shopping
            experience is positive and enjoyable. You can even inform your loved
            ones of the support page so that they can properly get their
            grievances addressed as well. Once you have all your queries
            addressed, you can pull out your shopping list and shop for all your
            essentials in one place. You can shop during festive sales to get
            your hands on some unbelievable deals online. This information is
            updated on 30-Jul-23
          </p>
        </div>
      </div>
      <!--menu end-->
    </div>
  </body>
</html>
{% endblock 'main' %}
